@import '_smart-grid'

main-color = #fa6900
second-color = #69d2e7

size(w, h)
	width w
	height h	

body
	font-family 'Open Sans', sans-serif
	margin 0
	overflow-x hidden

section
	padding-top 1rem
	padding-bottom 1rem

input[name='slider-switcher']
	width 18px
	height 18px

.top-menu
	flex-direction row
	justify-content space-between

.top-menu-list
	ul
		list-style none

.header
	wrapper()
	max-width none
	background second-color
	height 50vh
	min-height 500px
	padding-top 1.5rem

.hello-block,
.hello-text-container
	color #fff
	align-items center
	text-align center


.hello-block
	height 80.5%
	font-weight bold

.hello-title
	font-size 4em

.hello-descr
	font-size 2em

.hello-title,
.hello-descr
	margin 0
	text-transform uppercase

.aboutus-descr
	position relative
	top -90px
	padding 15px
	border-radius 10px
	background-color  #ffffff
	box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.2)
	background #fff
	max-width 840px
	margin 0 auto
	p
		font-size 17px

.aboutus-title
	text-align center
	text-transform uppercase
	font-weight bold
		

.main
	background #f1f1f1

.aboutus-offers-container
	text-align center
	col-lg-3()
	col-md-3()
	col-sm-3()
	col-xs-12()

.browsers
	background-color  #fa6900
	&-descr
		color  #fffefe
		font-size 19px
		max-width 760px

.top-menu,
.browsers,
.hello-block,
.hello-text-container,
.aboutus-offers,
.testimonials,
.footer-info
	row-flex()

.browsers,
.aboutus-offers,
.hello-block,
.testimonials
	justify-content center

.hello-title,
.hello-descr,
.testimonials-photo,
.pesona-title,
.testimonials-descr,
.slider-switcher
.footer-info
	col-12()

.testimonials-descr
	max-width 667px

.testimonials,
.slider-switcher
	text-align center

.testimonials-slider-container
	margin 1rem 0 1rem 0

.bullet-points
	background url(../img/bullet-point_bg.png) no-repeat
	background-size cover
	&-content
		max-width 433px
		margin 4rem
		color #fff

.hamburger
	padding 0

.logo-container-footer
	background url(../img/logo.png) no-repeat
	size(227px, 48px)
	margin-bottom 1rem

.footer-info
	padding 3rem 4rem 0 4rem

.company-info,
.latest-post-container
	col-lg-6()
	col-md-6()
	col-sm-12()
	col-xs-12()

.social-btn-container
	font-size 1.4rem

.social-btn
	color #000
	border 1px solid #000
	padding 5px
	transition color,background 250ms linear 0s
	&:hover
		color #fff
		border-color second-color
		background second-color
		
.company-descr
	max-width 80%

.latest-post-text,
.latest-post,
//.footer-bar
	display flex

.latest-post-text
	flex-wrap wrap
	font-size 14px

.latest-post-title,
.latest-post-except
	margin 0 10px

.latest-post
	margin 15px 0

.footer-bar
	background second-color
	color #fff
	padding 1rem 6.1875rem
	display flex
	justify-content space-between