@import '_smart-grid'

main-color = #fa6900
second-color = #69d2e7

body
	font-family 'Open Sans', sans-serif
	margin 0
	overflow-x hidden

section
	padding-top 1rem
	padding-bottom 1rem

input[name='slider-switcher']
	width 18px
	height 18px

.top-menu
	flex-direction row
	justify-content space-between

.top-menu-list
	ul
		list-style none

.header
	wrapper()
	max-width none
	background second-color
	height 50vh
	min-height 500px

.hello-block,
.hello-text-container
	color #fff
	align-items center
	text-align center


.hello-block
	height 80.5%
	font-weight bold

.hello-title
	font-size 4em

.hello-descr
	font-size 2em

.hello-title,
.hello-descr
	margin 0
	text-transform uppercase

.aboutus-descr
	position relative
	top -90px
	padding 15px
	border-radius 10px
	background-color  #ffffff
	box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.2)
	background #fff
	max-width 840px
	margin 0 auto
	p
		font-size 17px

.aboutus-title
	text-align center
	text-transform uppercase
	font-weight bold
		

.main
	background #f1f1f1

.aboutus-offers-container
	text-align center
	col-lg-3()
	col-md-3()
	col-sm-3()
	col-xs-12()

.browsers
	background-color  #fa6900
	&-descr
		color  #fffefe
		font-size 19px
		max-width 760px

.top-menu,
.browsers,
.hello-block,
.hello-text-container,
.aboutus-offers,
.testimonials
	row-flex()

.browsers,
.aboutus-offers,
.hello-block,
.testimonials
	justify-content center

.hello-title,
.hello-descr,
.testimonials-photo,
.pesona-title,
.testimonials-descr,
.slider-switcher
//.top-menu,
//.hello-block
	col-12()

.testimonials-descr
	max-width 667px

.testimonials,
.slider-switcher
	text-align center

.testimonials-slider-container
	margin 1rem 0 1rem 0

.bullet-points
	background url(../img/bullet-point_bg.png) no-repeat
	background-size cover
	&-content
		max-width 433px
		margin 4rem
		color #fff