//- var testimonials = {'Tanya K. Smit': 'General Physician', 'Diana M. Miyaki' : 'General surgeon','Anastasia T. Jey' : 'General pediatrician'};
doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Online Clinic

		link(rel='shortcut icon', type='image/png', href='img/favicon.png')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')

		link(href='lib/css-hamburgers/hamburgers.min.css', rel='stylesheet')
		link(href='css/general.css', rel='stylesheet')
	body
		.wrapper
			header.header
				.top-menu
					.logo-container
						a(href='/'): img(src='img/logo.png', alt='Our logo')
					.top-menu-list
						.hamburger.hamburger--squeeze
							.hamburger-box
								.hamburger-inner
				.hello-block
					.hello-text-container
						span.hello-title Hello
						span.hello-descr We are online clinic
			main.main
				section.aboutus
					.aboutus-descr
						h1.aboutus-title About Us
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.aboutus-offers
						.aboutus-offers-container
							.offers-image
								img(src='img/offer-image-1.svg', alt='offer-image-1')
							p.offers-title.
								Lorem ipsum dolor sit amet
						.aboutus-offers-container
							.offers-image
								img(src='img/offer-image-2.svg', alt='offer-image-2')
							p.offers-title.
								Lorem ipsum dolor sit amet
						.aboutus-offers-container
							.offers-image
								img(src='img/offer-image-3.svg', alt='offer-image-3')
							p.offers-title.
								Lorem ipsum dolor sit amet
				section.browsers
					p.browsers-descr.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.browsers-img
						img(src='img/browsers.png', alt='Browsers image')
				section.testimonials
					.testimonials-slider-container
						.testimonials-photo
							img(src='img/persona.svg', alt='photo persona')
						span.pesona-title
							strong=index
							br
							i= val
						p.testimonials-descr.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.slider-switcher
						input(type='radio' name='slider-switcher' checked).slider-switcher-firts
						input(type='radio' name='slider-switcher').slider-switcher-second
						input(type='radio' name='slider-switcher').slider-switcher-third
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='js/general.js')